body{
	color: #777777;
	font-family: Helvetica;

}
.container{
	width: 960px;
	margin: 20px auto;
	padding: 1px 2px 40px 10px;

}

.wrapper{
	border-color: #dddddd;
	border-style: solid;
	height: 900px;
	width: 960px;
	margin: auto;
	padding: 10px 50px;
	/*padding: 10px 10px 80px 50px;*/
	background-image: url(../images/concrete-texture.png);
}

.nav {
	width: 960px;
	margin: 20px auto;
	padding: 1px 2px 40px 10px;
	background-color: #ffffff
	
}

h1 { /*Why is this linked to About Me Class?*/
	background-color: #4aaaa5;
	color: white;
	width:80px;
	padding:10px 40px;
	float: left;
	border-color: #cccccc;
	font-family: Georgia;
}


.topnav a {
    float: right;
    display: block;
    color: #777777;
    text-align: center;
    padding: 17px 12px;
    text-decoration: none;
    font-size: 17px;
    /*margin: 20px;*/
    border-right: .5px;

}

.aboutme {
	width:600px;
	background-color: #ffffff;
	border-color: #dddddd;
	border: 2px;
	border-style: solid;
	float: left;
	padding: 2px 10px;
	margin: 30px 0px 10px 10px;
}

h2{
	color: #4aaaa5;
	font-family: georgia;
	
}

#kayak{
	width: 290px;
	height: 250px;
	margin: 10px;
	border-radius: 50%;
	float: left;
	overflow: auto;
}

.icons{
	float: right;
	border-color: #dddddd;
	border: 2px;
	border-style: solid;
	width: 270px;
	overflow: auto;
	left: 100px;
	background-color: #ffffff;
	margin: 30px 0px 10px 10px;
	padding: 5px;
}

.title{
	border-bottom: 1px solid;
	padding: 2px 5px;
}

.logos{
	width: 10px;
	height: 20px;
}

footer{
	text-align: center;
	padding: 20px 53px;
	background-color: #666666;
	width: 960px;
	margin: auto;
	color: #777777;
	border-top: 5px solid #4aaaa5;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	overflow: auto;
}

.portfolio {
	width:600px;
	background-color: #ffffff;
	border-color: #dddddd;
	border: 2px;
	border-style: solid;
	float: left;
	padding: 2px 10px;
	
}


.deer {
	width: 200px;
	height: 200px;
	margin: 30px;
	padding: 10px;
	float: left;
}

.tulips {
	width: 200px;
	height: 200px;
	margin: 30px;
	padding: 10px;
	float: left;
}

.tree  {
	width: 200px;
	height: 200px;
	margin: 30px;
	padding: 10px;
	float: left;
	clear: both;
}

.apple  {
	width: 200px;
	height: 200px;
	margin: 30px;
	padding: 10px;
	float: left;

}

.cow {
	width: 200px;
	height: 200px;
	margin: 30px;
	padding: 10px;
	clear: left;

}

.title1 {
	background-color: #4aaaa5;
	color: #ffffff;
   	position: absolute;
   	top: 410px;
   	width: 200px;
   	padding: 10px 0px;
   	text-align: center;
}

.title2 {
	background-color: #4aaaa5;
	color: #ffffff;
   	position: absolute;
   	top: 690px;
   	width: 200px;
   	padding: 10px 0px;
   	text-align: center;
}

.title3 {
	background-color: #4aaaa5;
	color: #ffffff;
   	position: absolute;
   	top: 940px;
   	padding: 10px 0px;
   	width: 200px;
   	text-align: center;
}



input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;   
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #4CAF50; 
    color: #ffffff;
}


.container2 {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}
